
@*
   Resume Component
*@
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Özgeçmiş</h2>
        
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Özet</h3>

                <div class="resume-item pb-0">
                    <h4>Ahmet Kağan KESKin</h4>
                    <p><em>3+ yıldır bir kamu kurumunda memur olarak çalışmaktayım bir örün bir açık öğretim olak üzere iki lisan bölümü öğrencisiyim</em></p>
                    <ul>
                        <li>Ankara / Türkiye</li>
                        <li>0555 555 55 55</li>
                        <li>akk@gmail.com</li>
                    </ul>
                </div><!-- Edn Resume Item -->

                <h3 class="resume-title">Üniversite</h3>
                <div class="resume-item">
                    <h4>Hacettepe Üniversitesi</h4>
                    <h5>2021 - Devam Ediyor</h5>
                    <p><em>İktisadi İdari Bilimler Fakültesi</em></p>
                    <p>Maliye</p>
                </div><!-- Edn Resume Item -->

                <div class="resume-item">
                    <h4>Anadolu Üiversitesi</h4>
                    <h5>2025 - Devam Ediyor</h5>
                    <p><em>İktisadi İdari Bilimler Fakültesi</em></p>
                    <p>Yönetim Bilişim Sistemleri</p>
                </div><!-- Edn Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Çalışma Hayatım</h3>
                <div class="resume-item">
                    <h4>Adalet Bakanlığı</h4>
                    <h5>2022 - Devam Ediyor</h5>
                    <p><em>Ceza Tevkifevleri  </em></p>
                    <ul>
                        <li>İnfaz ve Koruma Memuru</li>
                        
                    </ul>
                </div><!-- Edn Resume Item -->

               

            </div>

        </div>

    </div>

</section>